
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;

  
}

html {
    scroll-behavior: smooth;
}

body {
    flex: 1;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #E0700D;;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}


/* Fonte e Reset */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif; 
  box-sizing: border-box;
}

body {
  line-height: 1.8;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 700;
  margin: 0;
  color: #232323;
}

/* Estilização dos textos no overlay */
.text-color {
  color: #e0700d;
}

.text-color1 {
  color: white;
}

.text-color2 {
  color: #e0700d;
  font-size: 40px;
  font-weight: 400; 
  margin-top: 10px;
  display: block;
  text-align: center;
}

/* Swiper e Overlay */
.swiper {
  width: 100%;
  height: 100vh;
  position: relative;
}

.swiper-slide img {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  filter: brightness(70%);
}

/* Overlay */
.overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  padding: 20px;
  z-index: 1; 
}

/* Título e subtítulo */
.overlay h1 {
  font-size: 70px; 
  margin-bottom: 10px;
}

.overlay h2 {
  font-size: 40px; 
  margin-top: 20px;
}

/* Contêiner para o botão e o texto */
.overlay-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 10;
}



/* --- Responsividade --- */

/* Para telas pequenas (mobile) */
@media (max-width: 768px) {
  .overlay h1 {
    font-size: 40px; 
  }

  .overlay h2 {
    font-size: 20px; 
  }

  .btn-main {
    margin-top: 15px; 
    font-size: 0.9rem; 
    z-index: 20; 
  }
}

/* Para telas grandes (desktop) */
@media (min-width: 769px) {
  .overlay h1 {
    font-size: 70px; 
  }

  .overlay h2 {
    font-size: 40px; 
  }

  .btn-main {
    font-size: 1rem; 
  }
}

/* Frase Inspiradora */
.frase {
    text-align: center;
    margin: 40px 0;
    font-size: 35px;
}

/* Cursos */
.curso h1{
    font-size: 30px;

}

.curso p {
    font-size: 20px;

}
.curso {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #0f0f0f;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.curso-card:hover {
    box-shadow: 0 4px 10px rgba(194, 21, 55, 0.3); 
    transform: scale(1.05); 
}


.curso-card:active {
    box-shadow: 0 4px 10px rgba(194, 21, 55, 0.4); 
    transform: scale(0.98); 
}


.matricula {
    font-size: 20px;
    color:  #E0700D;
    background-color: #E0700D;
    display: inline-block; 
    padding: 10px 20px;
    border-radius: 8px;
    transition: box-shadow 0.3s ease, transform 0.3s ease; 
}
.matricula:hover {
    box-shadow: 0 4px 10px rgba(194, 21, 55, 0.3);
    transform: scale(1.05); 
    background-color: white;
}

.matricula:active {
    box-shadow: 0 4px 10px rgba(194, 21, 55, 0.4); 
    transform: scale(0.98); 
    background-color: #9E0B2A; 
}

.curso h1 {
    color: #111010;
    margin-bottom: 20px;
}

.curso-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffffea;
    border: 2px solid #cfac92;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
}

.curso-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #FCC9A5;
}

.curso-card .curso-content {
    padding: 20px;
    text-align: left;
}

.curso-card h2 {
    color: #C51537;
    margin-bottom: 10px;
}

.curso-card p {
    margin: 10px 0;
}

/* Responsividade */
@media (min-width: 768px) {
    .curso-card {
        flex-direction: row;
        align-items: center;
    }

    .curso-card img {
        width: 40%;
        height: auto;
        border-right: 2px solid #FCC9A5;
        border-bottom: none;
    }

    .curso-card .course-content {
        flex: 1;
        text-align: left;
        margin:20px;
        
    }
}

/* Avaliações */
.avaliacoes h2 {
    text-align: center;
    padding: 40px;
    margin-bottom: 10px;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(161, 16, 16, 0.1);
    padding: 20px;
    width: 400px;
    height: 200px;
    text-align: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease; }

.box h3 {
    font-size: 20px;
    margin-bottom: 20px;
}

.box p {
    font-size: 16px;
    color: #5e0909;
}


.box:hover {
    box-shadow: 0 4px 10px rgba(161, 16, 16, 0.3); 
    transform: scale(1.05); }
.box:active {
    box-shadow: 0 4px 10px rgba(161, 16, 16, 0.4); /    transform: scale(0.98);}

/* Responsividade  avaliações*/
@media (max-width: 1024px) {
    .container {
        flex-wrap: wrap;
        justify-content: center;
    }

    .box {
        width: 350px;
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .box {
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 480px) {
    .avaliacoes h2 {
        font-size: 24px;
        padding: 20px;
    }

    .box {
        width: 100%;
        height: auto;
        padding: 15px;
    }

    .box h3 {
        font-size: 18px;
    }

    .box p {
        font-size: 14px;
    }
}


/* Seção Sobre */
.empresa {
    text-align: center;
    padding: 60px 40px;
    background-color: #f9f9f9;
    color: #0f0f0f;
    margin: 20px auto;
    max-width: 900px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
}

.empresa h1 {
    font-size: 32px;
    color:  #E0700D; #E0700D;
    margin-bottom: 20px;
}

.empresa h2 {
    font-size: 24px;
    color: #111010;
    margin-bottom: 15px;
}

.empresa p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}


/* Responsividade sobre  */
@media (max-width: 1024px) {
    .empresa {
        padding: 50px 30px;
        max-width: 700px;
    }

    .empresa h1 {
        font-size: 28px;
    }

    .empresa h2 {
        font-size: 22px;
    }

    .empresa p {
        font-size: 16px;
    }
}

@media (max-width: 768px) {
    .empresa {
        padding: 40px 20px;
        max-width: 90%;
    }

    .empresa h1 {
        font-size: 24px;
    }

    .empresa h2 {
        font-size: 20px;
    }

    .empresa p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .empresa {
        padding: 30px 15px;
    }

    .empresa h1 {
        font-size: 22px;
    }

    .empresa h2 {
        font-size: 18px;
    }

    .empresa p {
        font-size: 12px;
        line-height: 1.4;
    }
}
/* Botões */
.btn-main {
    margin-top: 20px; 
    padding: 12px 25px;
    background-color: #e0700d;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    transition: background-color 0.3s;
    z-index: 20; 
  }
  
  .btn-main:hover {
    background-color: #c0580a;
  }




  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

  :root {
      --color-neutral-0: #0e0c0c;
      --color-neutral-10: #171717;
      --color-neutral-30: #a8a29e;
      --color-neutral-40: #f5f5f5;
  
  }
  
  * {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      letter-spacing: 1px;
  }
  
  main {
      height: 80vh;
  }
  
  footer {
      width: 100%;
      color: var(--color-neutral-40);
      margin-top: 100px;
  }
  
  .footer-link {
      text-decoration: none;
  }
  
  #footer_content {
      background-color: var(--color-neutral-10);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 3rem 3.5rem;
    
  }
  #footer_content h3 {
    color: white;
  }
  
  #footer_contacts h1 {
      margin-bottom: 0.75rem;
  }
  
  #footer_social_media {
      display: flex;
      gap: 2rem;
      margin-top: 1.5rem;
  } 
  
  #footer_social_media .footer-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      width: 2.5rem;
      color: var(--color-neutral-40);
      border-radius: 50%;
      transition: all 0.4s;
  }
  
  #footer_social_media .footer-link i {
      font-size: 1.25rem;    
  }
  
  #footer_social_media .footer-link:hover {
      opacity: 0.8;
  }
  
  #instagram {
      background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }
  
  #facebook {
      background-color: #4267b3;
  }
  
  #whatsapp {
      background-color: #25d366;
  }
  
  .footer-list {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      list-style: none;
  }
  
  .footer-list .footer-link {
      color: var(--color-neutral-30);
      transition: all 0.4s;
  }
  
  .footer-list .footer-link:hover {
      color: #7f37c9;
  }
  
  #footer_subscribe {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
  }
  
  #footer_subscribe p {
      color: var(--color-neutral-30);
  }
  
  #input_group {
      display: flex;
      align-items: center;
      background-color: var(--color-neutral-0);
      border-radius: 4px;
  }
  
  #input_group input {
      all: unset;
      padding: 0.75rem;
      width: 100%;
  }
  
  #input_group button {
      background-color: #7f37c9;
      border: none;
      color: var(--color-neutral-40);
      padding: 0px 1.25rem;
      font-size: 1.125rem;
      height: 100%;
      border-radius: 0px 4px 4px 0px;
      cursor: pointer;
      transition: all 0.4s;
  }
  
  #input_group button:hover {
      opacity: 0.8;
  }
  
  #footer_copyright {
      display: flex;
      justify-content: center;
      background-color: var(--color-neutral-0);
      font-size: 0.9rem;
      padding: 1.5rem;
      font-weight: 100;
  }
  
  @media screen and (max-width: 768px) {
      #footer_content {
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
      }
  }
  
  @media screen and (max-width: 426px) {
      #footer_content {
          grid-template-columns: repeat(1, 1fr);
          padding: 3rem 2rem;
      }
  }