/* Estilo Geral */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #444;
  color: white;
  text-align: center;
  padding: 1em 0;
}

header h1 {
  font-size: 2em;
}

main {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

main p, main ul {
  font-size: 1.1em;
  margin-bottom: 20px;
}

main ul {
  padding-left: 20px;
}

main ul li {
  margin-bottom: 10px;
}

a {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #5cb85c;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

a:hover {
  background-color: #4cae4c;
}

footer {
  text-align: center;
  padding: 10px 0;
  background-color: #444;
  color: white;
  margin-top: 20px;
}

/* Botão de Matrícula */
.btn-matricula {
  display: inline-block;
  text-decoration: none;
  color: white;
  background-color: #e0700d;
  padding: 12px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.btn-matricula:hover {
  background-color: #e0700d;
}

/* Estilo do Preço */
.preco-curso {
  font-size: 1.3em;
  font-weight: bold;
  color: #e0700d;
  margin-top: 20px;
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  header h1 {
      font-size: 1.8em;
      padding: 0.5em;
  }

  main {
      padding: 15px;
      margin: 10px;
      box-shadow: none; /* Remove a sombra para simplificar o design em telas menores */
  }

  main p, main ul {
      font-size: 1em;
  }

  .btn-matricula {
      padding: 10px 15px;
      font-size: 1em;
  }

  footer {
      font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  header h1 {
      font-size: 1.5em;
  }

  main p, main ul {
      font-size: 0.9em;
  }

  .btn-matricula {
      width: 100%; /* Botão ocupa toda a largura disponível */
      text-align: center;
  }
}
