
.slider {
    background: url("") no-repeat 0% 30%;
    padding: 180px 0px;
  }
  .slider h1 {
    font-size: 95px;
    line-height: 95px;
  }
  .slider span.subhead {
    color: #fff;
    letter-spacing: 5px;
    border: 2px solid #fff;
    padding: 3px 15px 5px 15px;
   
  }
  
/* Frase Inspiradora */
.frase {
    text-align: center;
    margin: 40px 0;
    font-size: 24px;

}

/* Cursos */
.curso {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #0f0f0f;
    background-color: #fff;
}

.curso h1 {
    color: #111010;
    margin-bottom: 20px;
}

.curso-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffffea;
    border: 2px solid #FCC9A5;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
}

.curso-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #FCC9A5;
}

.curso-card .curso-content {
    padding: 20px;
    text-align: left;
}

.curso-card h2 {
    color: #C51537;
    margin-bottom: 10px;
}

.curso-card p {
    margin: 10px 0;
}


/* Responsividade */
@media (min-width: 768px) {
    .curso-card {
        flex-direction: row;
        align-items: center;
    }

    .curso-card img {
        width: 40%;
        height: auto;
        border-right: 2px solid #FCC9A5;
        border-bottom: none;
        display: flex;
    }

    .curso-card .curso-content {
        flex: 1;
        text-align: left;
    }
}



.avaliacoes {
    text-align: center;
    padding: 40px;
    }
    /* Avaliações */
    .container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
    }
    .box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(161, 16, 16, 0.1);
    padding: 20px;
    width: 600px;
    height: 300px;
    text-align: center;
    }
    .box h3 {
    font-size: 20px;
    margin-bottom: 10px;
    }
    .box p {
    font-size: 16px;
    color: #5e0909;
    }
    
    