
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;

  
}

body {
    flex: 1;
}

header {
    background-color: #24252a;
    box-shadow: 0px 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
}

.logo h1 {
    color: #fff;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin: 0 15px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #fff;
    font-weight: 400;
}

.login-button button {
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #0187a7;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-item {
        display: none;
    }
    .login-button {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }
    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }
    .mobile-menu .login-button button {
        width: 100%;
    }
    .open {
        display: block;
    }
}


/* Fonte e Reset */
@import url("https://fonts.googleapis.com/css?family=Barlow+Condensed:400,500,600,700|Montserrat|Poppins:400,500,600,700");

body {
  line-height: 1.8;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  margin: 0;
  color: #232323;
}

/* Títulos principais */
h1 {
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* Títulos h1 e h2 */
h1 {
    color: ; /* Laranja */
  }
  
  h2 {
    color: #232323; /* Preto */
  }
.text-color {
    color: #E0700D;
    
  }

.text-color1 {
    color: #000000;

}
    
.text-uppercase text-white mb-5{
    text-align: center;
    color: #0f0f0f;


  }
.btn-white {
    color: #232323;
  }
/* Template */
.slider {
    background: url("") no-repeat 0% 30%;
    background-color: #ddd;
    background-size: cover;
    padding: 180px 0px;
    text-align: center;
    color: #fff;
}
.slider h1 {
    font-size: 95px;
    line-height: 95px;
}
.slider span.subhead {
    color: #fff;
    letter-spacing: 5px;
    border: 2px solid #fff;
    padding: 3px 15px 5px 15px;
}

/* Frase Inspiradora */
.frase {
    text-align: center;
    margin: 40px 0;
    font-size: 24px;
}

/* Cursos */
.curso {
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    color: #0f0f0f;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.curso h1 {
    color: #111010;
    margin-bottom: 20px;
}

.curso-card {
    display: flex;
    flex-direction: column;
    background-color: #ffffffea;
    border: 2px solid #FCC9A5;
    border-radius: 8px;
    margin: 20px 0;
    overflow: hidden;
}

.curso-card img {
    width: 100%;
    height: auto;
    border-bottom: 2px solid #FCC9A5;
}

.curso-card .curso-content {
    padding: 20px;
    text-align: left;
}

.curso-card h2 {
    color: #C51537;
    margin-bottom: 10px;
}

.curso-card p {
    margin: 10px 0;
}

/* Responsividade */
@media (min-width: 768px) {
    .curso-card {
        flex-direction: row;
        align-items: center;
    }

    .curso-card img {
        width: 40%;
        height: auto;
        border-right: 2px solid #FCC9A5;
        border-bottom: none;
    }

    .curso-card .curso-content {
        flex: 1;
        text-align: left;
    }
}

/* Avaliações */
.avaliacoes {
    text-align: center;
    padding: 40px;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.box {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(161, 16, 16, 0.1);
    padding: 20px;
    width: 600px;
    height: 300px;
    text-align: center;
}

.box h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.box p {
    font-size: 16px;
    color: #5e0909;
}

/* Seção Sobre */
.empresa {
    text-align: center;
    padding: 40px 20px;
    background-color: #f9f9f9;
    color: #0f0f0f;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.empresa h1 {
    font-size: 32px;
    color: #C51537;
    margin-bottom: 20px;
}

.empresa h2 {
    font-size: 24px;
    color: #111010;
    margin-bottom: 15px;
}

.empresa p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

/* Botões */
.btn {
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 5px;
    background: linear-gradient(90deg, rgb(245, 99, 75) 0%, #fe9418 100%);
    color: white;
    border: none;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background: linear-gradient(90deg, #fe9418 0%, rgb(245, 99, 75) 100%);
    transform: translateY(-2px);
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');

  :root {
      --color-neutral-0: #0e0c0c;
      --color-neutral-10: #171717;
      --color-neutral-30: #a8a29e;
      --color-neutral-40: #f5f5f5;
  
  }
  
  * {
      font-family: 'Inter', sans-serif;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      letter-spacing: 1px;
  }
  
  main {
      height: 80vh;
  }
  
  footer {
      width: 100%;
      color: var(--color-neutral-40);
  }
  
  .footer-link {
      text-decoration: none;
  }
  
  #footer_content {
      background-color: var(--color-neutral-10);
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 3rem 3.5rem;
  }
  
  #footer_contacts h1 {
      margin-bottom: 0.75rem;
  }
  
  #footer_social_media {
      display: flex;
      gap: 2rem;
      margin-top: 1.5rem;
  } 
  
  #footer_social_media .footer-link {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.5rem;
      width: 2.5rem;
      color: var(--color-neutral-40);
      border-radius: 50%;
      transition: all 0.4s;
  }
  
  #footer_social_media .footer-link i {
      font-size: 1.25rem;    
  }
  
  #footer_social_media .footer-link:hover {
      opacity: 0.8;
  }
  
  #instagram {
      background: linear-gradient(#7f37c9, #ff2992, #ff9807);
  }
  
  #facebook {
      background-color: #4267b3;
  }
  
  #whatsapp {
      background-color: #25d366;
  }
  
  .footer-list {
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      list-style: none;
  }
  
  .footer-list .footer-link {
      color: var(--color-neutral-30);
      transition: all 0.4s;
  }
  
  .footer-list .footer-link:hover {
      color: #7f37c9;
  }
  
  #footer_subscribe {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
  }
  
  #footer_subscribe p {
      color: var(--color-neutral-30);
  }
  
  #input_group {
      display: flex;
      align-items: center;
      background-color: var(--color-neutral-0);
      border-radius: 4px;
  }
  
  #input_group input {
      all: unset;
      padding: 0.75rem;
      width: 100%;
  }
  
  #input_group button {
      background-color: #7f37c9;
      border: none;
      color: var(--color-neutral-40);
      padding: 0px 1.25rem;
      font-size: 1.125rem;
      height: 100%;
      border-radius: 0px 4px 4px 0px;
      cursor: pointer;
      transition: all 0.4s;
  }
  
  #input_group button:hover {
      opacity: 0.8;
  }
  
  #footer_copyright {
      display: flex;
      justify-content: center;
      background-color: var(--color-neutral-0);
      font-size: 0.9rem;
      padding: 1.5rem;
      font-weight: 100;
  }
  
  @media screen and (max-width: 768px) {
      #footer_content {
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;
      }
  }
  
  @media screen and (max-width: 426px) {
      #footer_content {
          grid-template-columns: repeat(1, 1fr);
          padding: 3rem 2rem;
      }
  }